body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  font-size: 18px;
}

.content-wrapper{
    padding: 0px 0px;
}

p{
    font-size:18px;
    color: #383838
}
h1{
    font-size:20px;
}

b{
    font-size:18px;
    color: #202020
}

u{
    text-decoration-color: #D70000;
    text-decoration-thickness: 1px;
    text-underline-position: under;
}

.contact-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a,
a:hover {
  color: #383838
}


ul li{
    list-style-type: square;
    margin-bottom: 19px;
    margin-left: 0px;
    color: #383838;
    font-size:19px;

}
